[submodule "vender/cglm"]
	path = vender/cglm
	url = https://github.com/recp/cglm.git
[submodule "vender/--force"]
	path = vender/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vender/SDL"]
	path = vender/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vender/tlsf"]
	path = vender/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "vender/StackWalker"]
	path = vender/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "vender/rapidhash"]
	path = vender/rapidhash
	url = https://github.com/Nicoshev/rapidhash.git
[submodule "vender/imgui"]
	path = vender/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vender/cgltf"]
	path = vender/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "vender/meshoptimizer"]
	path = vender/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
